<h1>Un tres gros poney</h1>
<%= form_for(@plako) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :details %>
  <%= f.text_field :details %>

  <%= f.submit %>

<% end %>

